.container {
    max-width: 1000px;
}

.fa-4x {
    font-size: 3em;
}

.service-heading {
    font-size: 16px;
}

.m-b-20px  {
    margin-bottom: 20px;
}

.udemy-icon {
    transform: translateY(-5px);
    width: 100px;
}

.f-size-30 {
    font-size: 30px;
}

.f-size-20 {
    font-size: 20px;
}