<section class="bg-light" id="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase m-t-b-4 f-size-30">Product</h2>
        <p class="title my-3 f-size-20">
          <i class="fa fa-quote-left mr-2 font-italic quote-left" aria-hidden="true"></i>
          A
          <span class="font-weight-bold"> product</span> is a tangible item produced to create value
          for customers and to the organization.
          <i class="fa fa-quote-right ml-2 font-italic" aria-hidden="true"></i>
        </p>
        <div class="row justify-content-md-center">
          <div class="col-2 box-bg-green">Fibre</div>
          <div class="col-2 box-bg-green">Digital Content</div>
          <div class="col-2 box-bg-green">Payment</div>
          <div class="col-2 box-bg-green">Enterprise Sales &amp; Engagement</div>
          <div class="col-2 box-bg-green">ICT Solutions</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-2 box-bg-green">Mobile Service &amp; Trading</div>
          <div class="col-2 box-bg-green">Online Consumer</div>
          <div class="col-2 box-bg-green">FrontEnd Tool:Consumer &amp; Sales</div>
          <div class="col-2 box-bg-green">Data Analytics</div>
          <div class="col-2 box-bg-green">OMNI Channel</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-2 box-bg-green">Advertisement</div>
          <div class="col-2 box-bg-green">CVM</div>
          <div class="col-2 box-bg-green">Application Development Support</div>
          <div class="col-2 box-bg-green">Innovation &amp; Exploration</div>
          <div class="col-2 box-bg-green">Customer Experience</div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-2 box-bg-green">Collection Management</div>
          <div class="col-2 box-bg-green">Provisioning &amp; Trading Infra</div>
          <div class="col-2 box-bg-green">ICT Infra</div>
          <div class="col-2 box-bg-green">Call Center</div>
          <div class="col-2 box-bg-green">Employee</div>
        </div>
        <div class="row">  
          <div class="col-2 box-bg-green ml-75">Cost &amp; Expense</div>
          <div class="col-2 box-bg-green">Partner &amp; Channel Sale</div>
          <div class="col-2 box-bg-green">Digital Operation</div>
          <div class="col-2"></div>
          <div class="col-2"></div>
        </div>
        <a class="btn btn-primary text-uppercase btn-matador" [href]="env.matadorsuite.product">Go To Matadorsuite</a>
      </div>
    </div>
  </div>
</section>