<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Portfolio</h2>
        <h3 class="section-subheading text-muted">This Portfolio We Pround To Present.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/07-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>mPAY/Seller App</h4>
          <p class="text-muted">Application</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/08-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Google Assistant</h4>
          <p class="text-muted">Google Assistant</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/09-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>QR Code Report</h4>
          <p class="text-muted">Use QR Code For Report</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/10-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>my AIS : Scan credit card/debit card</h4>
          <p class="text-muted">Application</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/11-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Redeem AIS Play Package</h4>
          <p class="text-muted">Application</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="assets/img/portfolio/12-thumbnail.jpg" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>Modify Recurring Process</h4>
          <p class="text-muted">Processing</p>
        </div>
      </div>
    </div>
  </div>
</section>
