<section class="" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase m-t-b-4 f-size-30">Portfolio</h2>
          <p class="title f-size-20">
            <i class="fa fa-quote-left mr-2 font-italic quote-left" aria-hidden="true"></i> 
            The Better Way To Manage Project
            <i class="fa fa-quote-right ml-2 font-italic" aria-hidden="true"></i>
          </p>
          <div class="box row justify-content-md-center">
            <!--
            <div class="col-sm-12 col-md-12 col-lg-5 mt-5 text-left">
              <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Collect &amp; Analyst The Data</p>
              <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Increase Feature Delivery Success</p>
              <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Increase Collaboration</p>
              <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Report The Results</p>
              <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Decide What To Measure</p>
              <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Make A Decision</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5">
              <img class="image h-cursor" src="assets/images/portfolio.png" alt="Matador Timesheet">
            </div>
            -->
            <div class="col-6 col-sm-6 col-lg-6 text-left">
              <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Collect &amp; Analyst The Data</p>
              <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Increase Feature Delivery Success</p>
              <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Increase Collaboration</p>
              <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Report The Results</p>
              <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Decide What To Measure</p>
              <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Make A Decision</p>
            </div>
            <div class="col-6 col-sm-6 col-lg-6 text-left">
              <img class="image h-cursor" src="assets/images/portfolio.png" alt="Matador Timesheet">
            </div>
          </div>
          <a class="btn btn-primary text-uppercase btn-matador" [href]="env.matadorsuite.portfolio" (click)="checkLocalBu()">Go To Matadorsuite</a>
        </div>
      </div>
    </div>
  </section>