<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" (click)="onScroll('app-header')">Matador Suite</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger pointer" (click)="onScroll('product-page')">Product</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link js-scroll-trigger" href="#services">Services</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [href]="env.matadorsuite.portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [href]="env.timesheet.web">Team</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link js-scroll-trigger" href="/timesheet">Timesheet</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" (click)="onScroll('about-page')">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" (click)="gotoWiki()">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="http://issue.matadorsuite.com/projects/web-pop">Issue</a>
        </li>
        <li class="nav-item" *ngIf="login">
          <a class="nav-link js-scroll-trigger" (click)="onLoginClick()">Login</a>
        </li>
        <div class="nav-item dropdown profile  js-scroll-trigger" *ngIf="logout">
          <button class="username-pic dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" placement="left" ngbTooltip="Profile">
            <img class="avatar" src="./assets/avatars/profile.jpg">
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <span class=" username mr-12 dropdown-item n-cursor">{{userName}}</span>
            <button class="dropdown-item h-cursor" (click)="onlogout()">
              <i class="fa fa-lock mr-1"></i>
              <span class=" username mr-12">Log out</span>
            </button>
          </div>
        </div>

        <!-- <li class="nav-item" *ngIf="showuser">
          <span class="nav-link js-scroll-trigger">{{userName}}</span>
        </li>
        <li class="nav-item" *ngIf="logout">
          <a class="nav-link js-scroll-trigger" (click)="onLoginClick()">Logout</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>