.pointer {
  cursor: pointer;
}

.avatar {
  width: 32px;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.username {
  color: #b3d043 !important;
  font-size: 14px;
  letter-spacing: 1.5px;
}
.username-pic{
  margin-top: -5px;
  background: transparent;
  border: none;
  cursor: pointer;
  &:focus{
      outline: none;
  }
  &:active{
      outline: none;
  }

}
.dropdown-toggle{
  &:after {
      margin-left: 1px;
      color: #fff;
  }
}
.dropdown{
  &.profile{
    //   width: 80px;
      float: right;
      left: 0;
      .dropdown-menu{
          &.show {
              margin-top: 4px;
              transform: translate3d(-80px, -5px, 0px);
          }
      }
      .dropdown-item:hover {
          color: #b3d043;
          border-radius: 5px; 
          i{
              color: #b3d043;
          }
          &.n-cursor{
              // cursor: none;
              &:hover{
                  color: #000;
                  background: transparent;
              }
          }
      }
  }

  &.show{
      &:focus{
          outline: none;
      }
      .dropdown-toggle{
          &:after {
              margin-left: 1px;
          }
      }
  }
}
.h-cursor{
  cursor: pointer;
}
