<section class="" id="component">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase m-t-b-4 f-size-30">Component</h2>
        <p class="title f-size-20">
          <i class="fa fa-quote-left mr-2 font-italic quote-left" aria-hidden="true"></i> 
          BSS system included IT and VAS application
          <i class="fa fa-quote-right ml-2 font-italic" aria-hidden="true"></i>
        </p>
        <div class="box row justify-content-md-center">
          <div class="col-6 col-sm-6 col-lg-6 text-left">
            <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Tracking current stage and status of component</p>
            <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Check component progress <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(DevOps progress / TAP progress )</p>
            <p class="text-muted green"><i class="fa fa-check-circle green" aria-hidden="true"></i>  Export component report</p>
          </div>
          <div class="col-6 col-sm-6 col-lg-6 text-left">
            <img class="image h-cursor" src="assets/images/component.png" alt="Matador Timesheet">
          </div>
        </div>
        <a class="btn btn-primary text-uppercase btn-matador" href="/component">Go To Matadorsuite</a>
      </div>
    </div>
  </div>
</section>